{# WORK IN PROGRESS - NO PRODUCTION READY #}

{# MODULAR #}

    <div class="md">
        {{ content|raw }}
    </div>

    <div class="grid-section">

        {% for p in page.collection %}

            {% if p.header.link %}
                <a href="{{ p.url|e }}">
                    <div class="grid-item">
                        <div class="grid-card-header">
                            <h1>{{ p.header.title }}</h1>
                            {% if p.header.subtitle %}
                                <h2>{{ p.header.subtitle }}</h2>
                            {% endif %}
                        </div>
                        <div class="grid-item-img-box">
                            {{ p.media['sample.jpg'].cropResize(500, 500)|raw }}
                        </div>
                    </div>
                </a>
            {% else %}
                <div class="grid-item">
                    <div class="grid-card-header">
                        <h1>{{ p.header.title }}</h1>
                        {% if p.header.subtitle %}
                            <h2>{{ p.header.subtitle }}</h2>
                        {% endif %}
                    </div>
                    <div class="grid-item-img-box">
                        {{ p.media['sample.jpg'].cropResize(500, 500)|raw }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}

    </div>
