{# MODULAR #}

    <div class="md">
        {{ content|raw }}
    </div>


    <div class="grid-feature">

        {% for p in page.collection %}

            {% if p.header.link %}
                <a href="{{ p.url|e }}">
                    <div class="grid-feature-item" style="background-image: url('{{ p.url|e }}/feature.jpg')">
                        <h1>{{ p.title|e }}</h5>
                    </div>
                </a>
            {% else %}
                <div class="grid-feature-item" style="background-image: url('{{ p.url|e }}/feature.jpg')">
                    <h1>{{ p.title|e }}</h5>
                </div>
            {% endif %}

        {% endfor %}

    </div>



{# ---------------------------------------------------------------------- #}



{# <a href="{{ p.url|e }}"> #}

{# {{ p.media['sample.jpg'].cropResize(500, 500)|raw }} #}

{# }{{ p.summary|raw }} #}
