{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
{% block head %}
    <meta charset="utf-8" />
    <title>
        {{ site.title|e('html') }}
        {% if header.title == "Home" %}
        {% elseif header.title %}
            | {{ header.title|e('html') }}
        {% endif %}
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('user://pages/images/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url('user://pages/images/favicon-16x16.png') }}" sizes="16x16" />

    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/styles.css', 98) %}
        {% do assets.addCss('theme://css/custom.css', 97) %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

{% endblock head %}
</head>


<body>


{% block main %}
    <div class="paper">

      {% block header %}
          <div class="header">
            <div class="headerlogo">
              <a href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ base_url_relative }}/user/pages/images/logo.svg" alt="logo"/> <!-- {{ config.site.title }} -->  </a>
            </div>
            <div class="headerinfo">
              <p><a href="tel:+1-{{ config.themes.steadystation.phone }}">{{ config.themes.steadystation.phone }}</a> </p>
                <p>{{ config.themes.steadystation.address_01 }} </p>
                <p>{{ config.themes.steadystation.address_02 }}</p>
            </div>
          </div>
      {% endblock %}

      {% block header_navigation %}
        <nav class="main-nav"> {% include 'partials/navigation.html.twig' %}
        </nav>
      {% endblock %}


        {# -- -- PAGE CONTENT -- -- #}

        {% block content %}
        {% endblock %}

        {# -- -- PAGE CONTENT -- -- #}


        {% block footer %}

        <footer>

            <div class="centertext">
                <p>{{ config.themes.steadystation.footer }}</p>
            </div>

            <div class="grid3">

                {# -- -- COLUMN 1 -- -- #}
                <div class="grid3__child">
                    {# Hours #}
                    {% if config.themes.steadystation.hours_01 %}
                        <p>
                            Hours: <BR>
                            {{ config.themes.steadystation.hours_01 }} <BR>
                            {% if config.themes.steadystation.hours_02 %}
                                {{ config.themes.steadystation.hours_02 }} <BR>
                            {% endif %}
                            {% if config.themes.steadystation.hours_03 %}
                                {{ config.themes.steadystation.hours_03 }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>

                {# -- -- COLUMN 2 -- -- #}
                <div class="grid3__child">

                </div>

                {# -- -- COLUMN 3 -- -- #}
                <div class="grid3__child">

                    {% if not grav.user.username %}
                    <p><a href="/login">Login</a></p>
                    {% endif %}
                    {% if config.plugins.login.enabled and grav.user.username %}
                    <p><a href="/admin">Admin Page</a></p>
                    <li><i class="fa fa-lock"></i> {% include 'partials/login-status.html.twig' %}</li>
                    {% endif %}
                </div>

            </div>

        </footer>

        {% endblock %}



    </div>
{% endblock main %}




{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}


</body>


</html>
