{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="contentbox {{ page.header.class }}">
    {{ page.content }}

    <div class="chomp3">
      {% for child in page.collection %}
        <div class="minipage">
          <div class="iconholder">
            <a href="{{child.url}}">
              <img src="{{ child.url }}/mini-icon.svg" height="100px">
            </a>
          </div>
          <h3><a href="{{child.url}}">{{ child.title }} {% if child.header.subtitle %} - {{ child.header.subtitle }} {% endif %}</a></h3>

          <ul>
            {% for subchild in child.collection %}
              <li>
                <a href="{{ subchild.url }}">{{ subchild.title }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul>
            {% for listeditem in child.header.examples %}
              <li>{{ listeditem }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

  </div>

{% endblock %}
